@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Amaranth', sans-serif;
  font-size: 50px;
  color: hsl(0, 0%, 87%);
}


main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(32, 33, 36);
}



form label  {
  font-size: xx-large;
  color: hsl(0, 0%, 87%);
  margin-bottom: 40px;
  opacity: 0.4;
}

form input {
  padding: 10px 20px;
  font-size: 40px;
  background: rgb(48, 49, 52);
  border-radius: 30px;
  width: 70vw;
}


section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.result {
  min-width: 100%;
}

.result p:last-child {
  color: hsl(207, 95%, 8%);
  background-color: hsl(0, 0%, 87%);
  width: fit-content;
  padding: 5px 20px;
  margin-top: 9px;
}